<nav class="main-header">
  <div class="nav-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <a href="#" class="brand-logo">
            <img src="/assets/images/pflb.svg">
          </a>
          <div class="large-menu">
            <ul class="header-menu">
              <li><a routerLink="/master/projects">Проекты</a></li>
              <li><a routerLink="/master/week">Недели</a></li>
              <li><a routerLink="/master/statistic">Статистика</a></li>
              <li *ngIf="userService.user.role.name === 'ADMIN'"><a routerLink="/master/settings">Настройки</a></li>
            </ul>
          </div>
          <div class="right">
            <mz-dropdown
              [id]="'dropdown-demo'"
              [align]="'left'"
              [belowOrigin]="true"
              [constrainWidth]="true"
              [dropdownButtonId]="'btn-dropdown-demo'"
              [hover]="false"
              [inDuration]="300"
              [outDuration]="300"
              [stopPropagation]="true"
            >
              <mz-dropdown-item><li><a>Личный кабинет</a></li></mz-dropdown-item>
              <mz-dropdown-item><li><a (click)="closeNavBar(); bottomSheetModal.open();">Информация</a></li></mz-dropdown-item>
              <mz-dropdown-item><li><a (click)="exit()">Выход</a></li></mz-dropdown-item>
            </mz-dropdown>
              <a id="btn-dropdown-demo">
                <ul class="header-logout-menu">
                  <li class="name hide-on-small-only">{{user.fullName}}</li>
                  <li>
                    <div class="avatar-wrapper"><img class="chronos-avatar" [src]="user.photo"></div>
                  </li>
                </ul>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mz-sidenav
    [id]="'sidenav'"
    [collapseButtonId]="'btn-sidenav'"
    [draggable]="true">
    <mz-sidenav-header>
      <div class="user">
        <div class="img-wrapper">
          <div class="avatar-wrapper"><img class="chronos-avatar" [src]="user.photo"></div>
          <p class="name">{{user.fullName}}</p>
        </div>
      </div>
    </mz-sidenav-header>
    <mz-sidenav-link><a (click)="closeNavBar()" routerLink="/master/projects">Проекты</a></mz-sidenav-link>
    <mz-sidenav-link><a (click)="closeNavBar()" routerLink="/master/week">Недели</a></mz-sidenav-link>
    <mz-sidenav-link><a (click)="closeNavBar()" routerLink="/master/statistic">Статистика</a></mz-sidenav-link>
    <mz-sidenav-link *ngIf="userService.user.role.name === 'ADMIN'"><a (click)="closeNavBar()" routerLink="/master/settings">Настройки</a></mz-sidenav-link>
  </mz-sidenav>
  <button mz-button
          [float]="'true'"
          id="btn-sidenav"
          [large]="'true'">
    <i mz-icon
       [align]="'center'"
       [icon]="'menu'">
    </i>
  </button>
</nav>
<mz-modal #bottomSheetModal>
  <mz-modal-header>
    <h4>Project control</h4>
  </mz-modal-header>
  <mz-modal-content>
    v - 0.33
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Ок</button>
  </mz-modal-footer>
</mz-modal>
