:host{
  display: block;
  width: 212px;
  height: 40px;
  position: relative;
}
mz-select-container{
  max-height: 200px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  overflow: auto;
}
mz-select-container::ng-deep .select-wrapper {
  border-radius: 20px;
  padding: 0;
  border: 1px solid #E0E0E0;
  height: unset;
  line-height: unset;
  position: relative;
}
mz-select-container::ng-deep input.select-dropdown{
  padding: 10px 25px;
  width: unset;
  height: unset;
  line-height: unset;
  margin: 0 !important;
  border: none;
}
mz-select-container::ng-deep span.caret{
  right: 15px;
}
mz-select-container::ng-deep .dropdown-content{
  border-radius: 20px;
  position: relative !important;
  margin-top: -40px !important;
  max-height: unset !important;
  margin-bottom: 0 !important;
  top: 0 !important;
}
mz-select-container::ng-deep .dropdown-content li:hover{
  background-color: #3245A8;
}
mz-select-container::ng-deep .dropdown-content li:hover > span{
  color: white;
}
mz-select-container::ng-deep .input-field{
  margin: 0;
  line-height: 0;
}
mz-select-container::ng-deep ul.select-dropdown{
  z-index: 9999;
}
mz-select-container::ng-deep ul.select-dropdown > li > span {
  color: white !important;
}
