<mz-select-container
  *ngIf="selectObj && !selectObj.multiple"
  [inline]="true"
  infinite-scroll
  [infiniteScrollDistance]="1.5"
  [infiniteScrollThrottle]="100"
  [scrollWindow]="false"
  (scrolled)="loadMore()"
    #selectWrapper>
  <select mz-select
          id="options-select"
          [placeholder]="selectObj.placeholder"
          [(ngModel)] = "selectObj.value"
          (change)="selectChange.emit(selectObj)">
      <option *ngFor="let option of selectObj.data">{{option}}</option>
  </select>
</mz-select-container>
<mz-select-container
  *ngIf="selectObj && selectObj.multiple"
  [inline]="true"
  #selectWrapper>
  <select mz-select
          multiple
          id="options-select"
          [placeholder]="selectObj.placeholder"
          [(ngModel)] = "selectObj.value"
          (change)="multipleChanged()">
    <option *ngFor="let option of selectObj.data">{{option}}</option>
  </select>
</mz-select-container>
