.setting-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.search{
  display: flex;
  flex-wrap: wrap;
}
.setting-wrapper > *, .search > * {
  max-width: 100%;
  position: relative;
}
.setting-wrapper > * > *{
  margin-top: 20px;
  display: inline-block;
}
.input-wrapper{
  display: inline-block;
  width: unset;
  height: unset;
  position: relative;
}
input[type="text"]{
  border: 1px solid #E0E0E0 !important;
  border-radius: 20px;
  display: block;
  margin: 0;
  height: unset;
  padding: 10px 65px 10px 25px;
  box-shadow: none;
  width: 280px;
  max-width: 100%;
  box-sizing: inherit;
}
input[type="text"]:focus{
  box-shadow: 0 0 6px rgba(0, 0, 0, .2) !important;
}
.input-wrapper:after{
  content: 'search';
  font-family: 'Material Icons';
  display: block;
  position: absolute;
  font-size: 20px;
  width: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
button:not(.add-project){
  padding: 10px;
  width: 135px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #E0E0E0;
  line-height: 0;
  background-color: white !important;
  color: black;
  box-shadow: none;
  text-transform: none;
}
button.active:not(.add-project){
  color: white;
  background-color: #3449AC !important;
  border: none;
}
button:first-of-type:not(.add-project){
  margin: 0 20px;
}
app-select{
  margin-left: 20px;
}
mz-card.main::ng-deep .card-content{
  padding-top: 0;
}
mz-card.main::ng-deep mz-card .card-content{
  padding-top: 24px !important;
}
.add-project{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
}
.add-project > i{
  font-size: 30px;
}
@media screen and (max-width: 1250px) {
  .add-project{
    bottom: 90px;
  }
}
@media screen and (max-width: 1255px){
  .setting-wrapper > *{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .setting-wrapper > * > *:first-child{
    margin-left: 0!important;
  }
}
@media screen and (max-width: 660px){
  .setting-wrapper > *{
    flex-direction: column;
    width: unset;
  }
  .setting-wrapper > * > *{
    margin-left: 0!important;
  }
}
@media screen and (max-width: 400px) {
  app-select::ng-deep mz-select-container, app-select::ng-deep mz-select-container > div{
    width: 100%;
    display: block;
  }
  app-select::ng-deep .dropdown-content{
    width: unset !important;
    right: 0;
  }
  .setting-wrapper > *, input[type="text"]{
    width: 100%;
  }
  .setting-wrapper div.activity{
    flex-direction: row;
  }
}
