<div class="container"
     *ngIf="directions"
     infinite-scroll
     [infiniteScrollDistance]=".4"
     [infiniteScrollThrottle]="300"
     (scrolled)="loadMore()">
  <mz-card
    class="main"
    [hoverable]="false">
    <mz-card-title>
        <div class="setting-wrapper">
          <div class="search">
            <div class="input-wrapper"><input [(ngModel)]="query" (blur)="reloadData()" type="text" placeholder="Поиск по названию проекта"></div>
            <app-select (selectChange)="changeType()" [selectObj]="directionSelect"></app-select>
          </div>
          <div class="activity">
            <button mz-button (click)="changeActive(true)" [class.active]="active">Активные</button>
            <button mz-button (click)="changeActive(false)" [class.active]="!active">Неактивные</button>
          </div>
        </div>
    </mz-card-title>
    <mz-card-content>
      <app-project *ngFor="let report of reports" [report]="report" [editable]="true"
                   (openProjectSetting)="openEditModal($event)"></app-project>
      <div class="center-align" [hidden]="!totalPages || currentPage >= totalPages">
        <mz-spinner
          [color]="'blue'"
          [size]="'big'">
        </mz-spinner>
      </div>
    </mz-card-content>
  </mz-card>
  <app-edit-project *ngIf="showModal" [projectId]="editProject?.id" [directions]="directions" (modalClosed)="updateData($event)"></app-edit-project>
  <button mz-button
          class="add-project"
          [float]="'true'"
          [large]="'true'"
          (click)="openEditModal(null)">
    <i mz-icon
       [align]="'center'"
       [icon]="'add'">
    </i>
  </button>
</div>
