<mz-collapsible
  [mode]="'expandable'"
  [onClose]=""
  [onOpen]=""
  [popout]="false">
  <mz-collapsible-item [active]="false">
    <mz-collapsible-item-header class="margins">
      <div class="row">
        <div class="col xl6 m12">
          <h5 class="d-inline">{{report.project.name}} <mz-chip>отчет отправлен</mz-chip></h5>
          <p class="right">Отчет за неделю {{weekService.formatDate(report.createDate)}}</p>
        </div>
      </div>

    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <!--<app-choose-lvl [titles]="['Уровень мотивации команды', 'Уровень удовлетворенности заказчика',
           'Уровень компетенций проектной команды', 'Уровень технического успеха проекта']"></app-choose-lvl>-->
        <div class="col s12 l6" *ngFor="let item of [{title: 'Уровень мотивации команды', level: report.teamMotivation},
                   {title: 'Уровень удовлетворенности заказчика', level: report.customerSatisfaction},
                   {title: 'Уровень компетенций проектной команды', level: report.successOfTheProject},
                   {title: 'Уровень технического успеха проекта', level: report.teamCompetence}]">
          <div class="report-wrapper">
            {{item.title}}
            <div [class]="'border-gradient ' + item.level.toLowerCase()"></div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="report.comment">
        <div class="col s12">
          <p class="small-title">Комментарии к отчету:</p>
        </div>
        <div class="col s12">
          <img class="avatar" [src]="report.user.photo">
          <p class="name">{{report.user.fullName}}</p>
          <p class="comment">{{report.comment}}</p>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
