<mz-collapsible>
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      <div class="row no-margins">
        <div class="col m12">
          <h5>{{project?.name}}</h5>
          <p class="dev-direction">Название направления</p>
        </div>
      </div>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <div class="col s12">
          <div class="time">
            <span>Период учета отчетов: </span>
            <div>
              <span> с </span>
              <mz-datepicker-container [inline]="true">
                <input mz-datepicker
                       id="datepicker"
                       [options]="options"
                       placeholder="Выберите неделю"
                       type="text"
                       [(ngModel)]="fromTime"
                >
              </mz-datepicker-container>
            </div>
            <div>
              <span> по </span>
              <mz-datepicker-container [inline]="true">
                <input mz-datepicker
                       id="datepicker1"
                       [options]="options"
                       placeholder="Выберите неделю"
                       type="text"
                       [(ngModel)]="byTime"
                >
              </mz-datepicker-container>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="canvas-wrapper">
            <div class="hide-labels"></div>
            <canvas class="large" *ngIf="!reload" baseChart width="400" height="200"
                    [datasets]="lineChartDataCurrent"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColorsCurrent"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
            <canvas class="small" *ngIf="!reload" baseChart width="400" height="400"
                    [datasets]="lineChartDataCurrent"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColorsCurrent"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
            <div *ngIf="reload" id="insteadBlock"></div>
          </div>
        </div>
        <div class="col s12 l6">
          <div class="checkbox-wrapper">
            <input [checked]="lines[0]" (change)="changeLine($event.target.checked, 0)" type="checkbox" class="hide" id="motivationCheckbox">
            <label for="motivationCheckbox" class="forCheckbox">
              <div class="custom-checkbox">
                <i mz-icon
                   [icon]="'check'"
                   [size]="'small'">
                </i>
              </div>
              <span>Уровень мотивации проектной команды</span>
            </label>
          </div>
        </div>
        <div class="col s12 l6">
          <div class="checkbox-wrapper">
            <input [checked]="lines[1]" (change)="changeLine($event.target.checked, 1)" type="checkbox" class="hide" id="competitiveCheckbox">
            <label for="competitiveCheckbox" class="forCheckbox">
              <div class="custom-checkbox">
                <i mz-icon
                   [icon]="'check'"
                   [size]="'small'">
                </i>
              </div>
              <span>Уровень компетенции проектной команды</span>
            </label>
          </div>
        </div>
        <div class="col s12 l6">
          <div class="checkbox-wrapper">
            <input [checked]="lines[2]" (change)="changeLine($event.target.checked, 2)" type="checkbox" class="hide" id="happyCheckbox">
            <label for="happyCheckbox" class="forCheckbox">
              <div class="custom-checkbox">
                <i mz-icon
                   [icon]="'check'"
                   [size]="'small'">
                </i>
              </div>
              <span>Уровень удовлетворенности заказчика</span>
            </label>
          </div>
        </div>
        <div class="col s12 l6">
          <div class="checkbox-wrapper">
            <input [checked]="lines[3]" (change)="changeLine($event.target.checked, 3)" type="checkbox" class="hide" id="progressCheckbox">
            <label for="progressCheckbox" class="forCheckbox">
              <div class="custom-checkbox">
                <i mz-icon
                   [icon]="'check'"
                   [size]="'small'">
                </i>
              </div>
              <span>Уровень технического успеха проекта</span>
            </label>
          </div>
        </div>
      </div>
      <!--<div class="col-md-6" style="margin-bottom: 10px">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <button (click)="randomize()">CLICK</button>
      </div>-->
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
