.lvl-wrapper{
  padding: 15px;
  border-top: 1px solid #F2F2F2;
  cursor: pointer;
}
.lvl-wrapper:first-child{
  border-top: none;
}
.lvl-wrapper:hover{
  background-color: rgba(0, 0, 0, .1);
}
.color-wrapper{
  line-height: 26px;
  height: 26px;
  display: flex;
}
.color-wrapper > span{
  flex-grow: 1;
  display: block;
  text-align: center;
  white-space: nowrap;
}
.red, .green, .yellow{
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  border-radius: 50%;
  float: left;
}
.red {
  background-color: #F55F66;
}
.green{
  background-color: #6FD069;
}
.yellow{
  background-color: #FFDB62;
}
mz-collapsible::ng-deep .collapsible > li{
  position: relative;
}
mz-collapsible::ng-deep div.collapsible-body{
  position: absolute;
  background-color: white;
  z-index: 97;
  width: 100%;
  left: 0;
}
mz-collapsible::ng-deep .collapsible > li.active{
  box-shadow: 0 0 10px rgba(52, 73, 172, 0.63);
}
mz-collapsible::ng-deep .collapsible > li.active > .collapsible-header{
  z-index: 98;
}
mz-collapsible::ng-deep .collapsible > li > .collapsible-header{
  padding: 0 .75rem;
}
mz-collapsible::ng-deep .collapsible-body{
  background-color: white;
  box-shadow: 0 0 10px rgba(52, 73, 172, 0.63);
}
mz-collapsible{
  position: relative;
  display: block;
}
mz-collapsible::ng-deep ul.collapsible{
  box-shadow: none;
  border: none;
  margin-left: -.75rem;
  margin-right: -.75rem;
}
mz-collapsible::ng-deep ul.collapsible li{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 96%;
  display: inline-block;
  box-shadow: 0 0 6px rgba(0, 0, 0, .1);
  margin: 10px 2%;
  float: left;
}
@media only screen and (min-width: 1201px) {
  mz-collapsible::ng-deep ul.collapsible li {
    width: 46%;
    margin: 10px 2%;
    left: auto;
    right: auto;
  }
}
mz-collapsible-item {
  display: block;
  position: relative;
}
