<mz-collapsible>
  <mz-collapsible-item *ngFor="let title of titles; let i = index">
    <mz-collapsible-item-header>
      <p>{{title.title}}</p>
      <div *ngIf="color[i]" [class]="'border-gradient ' + this.color[i]"></div>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="lvl-wrapper" (click)="this.closeCollapsible($event, 'good', i)">
        <div #div class="color-wrapper">
          <div class="green"></div>
          <span>Хорошо</span>
        </div>
        <p>Мы хотели бы поделиться с Вами информацией о пищевой добавке, которая была впервые разработана в Италии и помогает улучшить настроение, поддерживает здоровье печени.</p>
      </div>
      <div class="lvl-wrapper" (click)="this.closeCollapsible($event, 'average', i)">
        <div class="color-wrapper">
          <div class="yellow"></div>
          <span>Удовлетворительно</span>
        </div>
        <p>Мы хотели бы поделиться с Вами информацией о пищевой добавке, которая была впервые разработана в Италии и помогает улучшить настроение, поддерживает здоровье печени.</p>
      </div>
      <div class="lvl-wrapper" (click)="this.closeCollapsible($event, 'bad', i)">
        <div class="color-wrapper">
          <div class="red"></div>
          <span>Не удовлетворительно</span>
        </div>
        <p>Мы хотели бы поделиться с Вами информацией о пищевой добавке, которая была впервые разработана в Италии и помогает улучшить настроение, поддерживает здоровье печени.</p>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
