<div
  infinite-scroll
  [infiniteScrollDistance]=".4"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()">
  <mz-collapsible
    [mode]="'expandable'"
    [onClose]=""
    [onOpen]=""
    [popout]="false"
    id="last-reports">
    <mz-collapsible-item [active]="false">
      <mz-collapsible-item-header class="margins">
        <div class="row no-margins">
          <div class="col s12">
            <p>Прошлые отчеты</p>
          </div>
        </div>

      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <div class="row">
          <div class="col s12" *ngFor="let report of reports">
            <mz-collapsible
              [mode]="'expandable'"
              [onClose]=""
              [onOpen]=""
              [popout]="false">
              <mz-collapsible-item [active]="false">
                <mz-collapsible-item-header class="margins">
                  <div class="row no-margins">
                    <div class="col s12">
                      <p>{{weekControl.formatDate(report.createDate)}}</p>
                    </div>
                  </div>

                </mz-collapsible-item-header>
                <mz-collapsible-item-body>
                  <div class="row">
                    <!--<app-choose-lvl [titles]="['Уровень мотивации команды', 'Уровень удовлетворенности заказчика',
                       'Уровень компетенций проектной команды', 'Уровень технического успеха проекта']"></app-choose-lvl>-->
                    <div class="col s12 l6" *ngFor="let item of [{title: 'Уровень мотивации команды', level: report.teamMotivation},
                     {title: 'Уровень удовлетворенности заказчика', level: report.customerSatisfaction},
                     {title: 'Уровень компетенций проектной команды', level: report.successOfTheProject},
                     {title: 'Уровень технического успеха проекта', level: report.teamCompetence}]">
                      <div class="report-wrapper">
                        {{item.title}}
                        <div [class]="'border-gradient ' + item.level.toLowerCase()"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="report.comment">
                    <div class="col s12">
                      <p class="small-title">Комментарии к отчету:</p>
                    </div>
                    <div class="col s12">
                      <img class="avatar hide-on-small-only" [src]="report.user.photo">
                      <p class="name">{{report.user.fullName}}</p>
                      <p class="comment">{{report.comment}}</p>
                    </div>
                  </div>
                </mz-collapsible-item-body>
              </mz-collapsible-item>
              <div [class]="'border-gradient ' + getReportGradient(report)"></div>
            </mz-collapsible>
          </div>
        </div>
        <div class="center-align" [hidden]="isSpinner">
          <mz-spinner
            [color]="'blue'"
            [size]="'big'">
          </mz-spinner>
        </div>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</div>
