p {
  font-size: 16px;
  margin: 0;
}
p.small-title {
  font-size: 24px;
  margin-bottom: 20px;
}
p.dev-direction{
  font-size: 14px;
  color: #828282;
}
p.right-column{
  text-align: right;
}
div.right-column{
  padding: 20px 60px 0;
}
mz-collapsible::ng-deep .collapsible-body{
  background-color: white;
}
mz-collapsible{
  display: block;
  position: relative;
}
textarea{
  border-radius: 20px;
  height: 100px;
  box-shadow: 0 0 8px rgba(52, 73, 172, 0.65);
  padding: 20px;
  border: none;
  outline: none;
}
textarea:focus {
  box-shadow: 0 0 8px rgba(52, 73, 172, 0.85);
}
button, button:visited, button:focus{
  background-color: #3449AC;
  padding: 10px 35px;
  color: white;
  border-radius: 30px;
  height: unset;
  line-height: unset;
  margin-top: 30px;
  border: none;
}
button:hover{
  background-color: #242f60;
}
mz-chip{
  padding: 0 15px;
}
button.right{
  margin-top: 0;
}
img.avatar{
  float: left;
  margin-right: 30px;
  height: 70px;
  width: auto;
  border-radius: 50%;
}
p.comment{
  font-size: 14px;
}
p.name{
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}
.report-wrapper{
  padding: 1rem .75rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, .1);
  position: relative;
  margin-bottom: 20px;
}
.no-margins{
  margin: 0;
}
