.d-inline{
  width: 400px;
  max-width: 100%;
  position: absolute;
  top: 5%;
  transform: translateX(50%);
  right: 50%;
  padding: 5% 10px;
}
.login-wrapper{
  display: inline-block;
  background-color: rgba(255, 255, 255, .97);
  border-radius: 20px;
  padding: 40px;
}
input[type="text"], input[type="password"]{
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(52, 73, 172, 0.65);
  padding: 0 20px;
  border: none !important;
  outline: none;
  width: 100%;
  box-sizing: inherit;
}
input[type="text"]:focus, input[type="password"]:focus {
  box-shadow: 0 0 8px rgba(52, 73, 172, 0.85) !important;
}
button, button:visited, button:focus{
  background-color: #3449AC !important;
  padding: 10px 35px !important;
  color: white;
  border-radius: 30px !important;
  height: unset !important;
  line-height: unset !important;
  border: none !important;
}
button:hover{
  background-color: #242f60 !important;
}
img{
  height: auto;
  width: 80%;
  margin-bottom: 40px;
}
.bg{
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a4f91, #d2d7ff);
}
.error{
  margin-top: 15px;
  text-align: center;
  color: red;
  font-weight: bold;
}
