<div class="bg">
  <div class="d-inline center-align">
    <img src="assets/images/pflb.svg">
    <div class="login-wrapper center-align">
      <input [(ngModel)]="this.username" (keyup)="nextField($event, inputPassword)" type="text" placeholder="Введите имя">
      <input #inputPassword [(ngModel)]="this.password" (keyup)="sendOnEnter($event)" type="password" placeholder="Введите пароль">
      <button mz-button (click)="login()">Войти</button>
      <div *ngIf="error" class="error">{{error}}</div>
    </div>
  </div>
</div>
