<div class="container"
     infinite-scroll
     [infiniteScrollDistance]=".4"
     [infiniteScrollThrottle]="500"
     (scrolled)="loadMore()">
<mz-card
  class="main"
  [hoverable]="false">
  <mz-card-content>
    <mz-navbar class="custom-nav-bar">
      <a href="#" class="brand-logo">Настройки</a>
      <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item>
          <mz-tab
            [fixedTabWidth]="'true'"
            [onShow]=""
            [responsiveThreshold]="'true'"
            [swipeable]="false">

            <mz-tab-item [href]="'#system'" [active]="true" [label]="'Нaстройки'"></mz-tab-item>
            <mz-tab-item [href]="'#control'" [label]="'Пользователи'"></mz-tab-item>

          </mz-tab>
        </mz-navbar-item>
      </mz-navbar-item-container>
    </mz-navbar>
    <div class="content" id="system">
      <h5>Дни отправки отчетов</h5>
      <p>Установите дни, в которые возможна отправка отчетов. В остальные дни отправка отчетов невозможна.</p>
      <div class="input-field">
        <div *ngFor="let day of week; let i = index " class="checkbox-wrapper">
          <input (change)="dayChange(i, $event.target.checked)" [checked]="setting?.days.charAt(i) === '1'" type="checkbox" style="display: none" [id]="day.id">
          <label [for]="day.id" class="forCheckbox">
            <div class="custom-checkbox">
              <i mz-icon
                 [icon]="'check'"
                 [size]="'small'">
              </i>
            </div>
            <span>{{day.name}}</span>
          </label>
        </div>
      </div>
      <div class="message-wrapper">
        <h5>Дни отправки отчетов</h5>
        <p>При включении опции раз в неделю в указанное время Ответственным, которые еще не отправили отчет за неделю, на почту будет приходить следующее уведомление:</p>
        <textarea *ngIf="setting" [(ngModel)]="setting.attentionText" placeholder="Введите текст письма"></textarea>
        <div class="time-wrapper" *ngIf="setting">
          <span>Установите день и время отправки:</span>
          <div class="d-inline">
            <app-select [selectObj]="weekSelect"></app-select>
            <app-select [selectObj]="timeSelect"></app-select>
          </div>
        </div>
        <button mz-button (click)="save()">
          Сохранить
        </button>
      </div>
    </div>
    <div class="content" id="control">
      <h5>Управление пользователями</h5>
      <div *ngFor="let user of users">
        <mz-collapsible
          [mode]="'expandable'"
          [onClose]=""
          [onOpen]=""
          [popout]="false">
          <mz-collapsible-item [active]="false">
            <mz-collapsible-item-header>
              <div class="row">
                <div class="col s12 m6">
                  <img class="hide-on-med-and-down" [src]="user.photo">
                  <span>{{user.surname + " " + user.name.charAt(0).toUpperCase() + '.' +
                    user.patronymic.charAt(0).toUpperCase() + '.'}}</span>
                </div>
                <div class="col s12 m6 center-align">
                  <span>Направление разработки</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m6 center-align">
                  <span>Роль</span>
                </div>
                <div class="col s12 m6 center-align">
                  <span>Проектов: 1</span>
                </div>
              </div>
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <div class="row">
                <div class="col s12 xl6">
                  <img class="hide-on-small-only" [src]="user.photo">
                  <div class="left-align">
                    <p class="name">{{user.fullName}}</p>
                    <p>Телефон: {{user.phone}}</p>
                    <p>Почта: {{user.email}}</p>
                  </div>
                </div>
                <div class="col s12 xl6">
                  <div class="right-align">
                    <div class="person-select-wrapper">
                      <span>Роль</span>
                      <app-select [selectObj]="rolesSelect"></app-select>
                    </div>
                    <div [ngSwitch]="rolesSelect.value" class="person-select-wrapper">
                      <span *ngSwitchCase="'Ответственный'">Проекты</span>
                      <app-select *ngSwitchCase="'Ответственный'" [selectObj]="directionSelect"></app-select>
                      <span *ngSwitchCase="'Руководитель'">Направление</span>
                      <app-select *ngSwitchCase="'Руководитель'" [selectObj]="weekSelect"></app-select>
                    </div>
                  </div>
                </div>
              </div>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
        </mz-collapsible>
      </div>
    </div>
  </mz-card-content>
</mz-card>
</div>
