.custom-nav-bar ::ng-deep nav{
  background: #ffffff;
  color: black;
  padding-left: 15px;
  border-bottom: 1px solid #F2F2F2;
  box-shadow: none;
}
.custom-nav-bar *{
  color: black;
}
.custom-nav-bar .brand-logo{
  font-size: 24px;
  position: static;
  transform: unset;
}
.custom-nav-bar mz-navbar-item-container{
  float: right;
  display: block;
  height: 100%;
  position: relative;
}
.custom-nav-bar::ng-deep mz-navbar-item-container *:not(.indicator){
  display: block;
  height: 100%;
}
.custom-nav-bar::ng-deep .tabs a{
  display: flex;
  align-items: center;
  color: black;
}
.custom-nav-bar::ng-deep .tabs a.active{
  color: #4FD9F7;
}
.custom-nav-bar::ng-deep .tabs a:focus{
  background-color: unset;
}
.custom-nav-bar::ng-deep .indicator{
  background-color: #4FD9F7;
  height: 3px;
}
::ng-deep.tabs-content {
  height: unset !important;
}
.content{
  padding: 44px;
  height: unset !important;
  min-height: unset !important;
  width: 100%;
  display: none !important;
}
.content.active{
  position: static;
  display: block !important;
  transform: none !important;
}
.input-field{
  margin: 30px 0;
}
.message-wrapper{
  margin-top: 50px;
}
textarea{
  margin-top: 20px;
  height: 5em;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  border: none;
  outline: none;
}
textarea:focus{
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
::ng-deep.tabs-content{
  overflow: visible;
}
.time-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
.time-wrapper > *, .time-wrapper > div > *{
  margin-bottom: 20px;
}
.time-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.time-wrapper > div > *:first-child {
  margin-right: 20px;
}
button, button:visited, button:focus{
  background-color: #3449AC;
  padding: 10px 35px;
  color: white;
  border-radius: 30px;
  height: unset;
  line-height: unset;
  margin-left: 30px;
  margin-bottom: 30px;
}
button:hover{
  background-color: #242f60;
}
mz-collapsible{
  margin-top: 30px;
  display: block;
}
mz-collapsible-item-header .row{
  margin-bottom: 0;
}
mz-collapsible-item-header img{
  height: 47px;
  width: auto;
  float: left;
}
mz-collapsible-item-header span{
  line-height: 47px;
}
mz-collapsible-item-header img + span{
  margin-left: 30px;
  color: #4F4F4F;
  font-size: 18px;
  white-space: nowrap;
}
mz-collapsible-item-body img {
  height: 100px;
  width: auto;
  float: left;
  margin-right: 30px;
}
.person-body-wrapper{
  display: flex;
}
.person-body-wrapper > *{
  flex-grow: 1;
}
.person-body-wrapper p{
  font-size: 16px;
  margin-bottom: 0;
}
.person-body-wrapper p.name{
  font-size: 18px;
  margin-bottom: 20px;
}
.person-select-wrapper:first-child{
  margin-bottom: 15px;
}
.person-select-wrapper span{
  margin-right: 20px;
}
.person-select-wrapper{
  white-space: nowrap;
}
@media screen and (max-width: 992px){
  mz-collapsible-item-header span{
    line-height: unset;
    margin: 5px 0;
    display: inline-block;
  }
}
@media screen and (max-width: 500px){
  mz-navbar-item-container {
    position: absolute !important;
    top: 0;
  }
}
@media screen and (max-width: 600px){
  mz-collapsible-item-header img + span{
    margin-left: 0;
  }
  .person-select-wrapper{
    white-space: unset;
  }
  app-select::ng-deep input.select-dropdown{
    width: 100% !important;
    padding-right: 30px !important;
    box-sizing: inherit;
  }
  div.left-align > *{
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 670px) {
  .checkbox-wrapper {
    margin: 0 50px 0 0;
  }
}
