<div class="container"
     infinite-scroll
     [infiniteScrollDistance]=".4"
     [infiniteScrollThrottle]="500"
     (scrolled)="loadMore()">
  <mz-card
    class="main"
    [hoverable]="false">
    <mz-card-title>
      <div>
        <p class="margins">Прислано отчетов: 10 из 18</p>
        <div class="setting-wrapper">
          <div class="search">
            <mz-datepicker-container [inline]="true">
              <input mz-datepicker
                     id="datepicker"
                     [options]="options"
                     placeholder="Выберите неделю"
                     type="text"
                     [(ngModel)]="period"
                     >
            </mz-datepicker-container>
            <app-select *ngIf="directionSelect" (selectChange)="changeDirection()" [selectObj]="directionSelect"></app-select>
          </div>
          <div class="activity">
            <button mz-button (click)="changeActive(true)" [class.active]="reportFilter.isActive">Активные</button>
            <button mz-button (click)="changeActive(false)" [class.active]="!reportFilter.isActive">Неактивные</button>
          </div>
        </div>
      </div>
    </mz-card-title>
    <mz-card-content>
      <app-project *ngFor="let report of reports" [report]="report"></app-project>
      <h5 class="center-align" *ngIf="!isPending && reports?.length == 0">Нет доступных отчетов</h5>
      <div class="center-align" [hidden]="!isPending">
        <mz-spinner
          [color]="'blue'"
          [size]="'big'">
        </mz-spinner>
      </div>
    </mz-card-content>
  </mz-card>
</div>
