.setting-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.search{
  display: flex;
  flex-wrap: wrap;
}
.setting-wrapper > *, .search > * {
  max-width: 100%;
  position: relative;
}
.setting-wrapper > * > *{
  margin-top: 20px;
  display: inline-block;
}
button{
  padding: 10px;
  width: 135px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #E0E0E0;
  line-height: 0;
  background-color: white !important;
  color: black;
  box-shadow: none;
  text-transform: none;
}
button.active{
  color: white;
  background-color: #3449AC !important;
  border: none;
}
button:first-of-type{
  margin: 0 20px;
}
app-select{
  margin-left: 20px;
}
mz-card.main::ng-deep .card-content{
  padding-top: 0;
}
mz-card.main::ng-deep mz-card .card-content{
  padding-top: 24px !important;
}
p{
  font-size: 14px;
  line-height: 100%;
  margin-left: 10px!important;
}
.activity{
  display: flex;
  flex-wrap: wrap;
}
#datepicker{
  padding: 10px 25px;
  width: 170px;
  height: unset;
  line-height: 0;
  margin: 0 !important;
  border-radius: 20px;
  border: 1px solid #E0E0E0;
  position: relative;
  cursor: pointer;
}
#datepicker::-webkit-input-placeholder {color:black;}
#datepicker::-moz-placeholder          {color:black;}/* Firefox 19+ */
#datepicker:-moz-placeholder           {color:black;}/* Firefox 18- */
#datepicker:-ms-input-placeholder      {color:black;}
mz-datepicker-container {
  position: relative;
}
mz-datepicker-container:after {
  content: '▼';
  color: initial;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  font-size: 10px;
  line-height: 10px;
}
mz-datepicker-container::ng-deep .input-field.inline{
  margin-top: 0;
}
p.margins{
  padding-top: 20px;
}
@media screen and (max-width: 1255px){
  .setting-wrapper > *{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .setting-wrapper > * > *:first-child{
    margin-left: 0!important;
  }
}
@media screen and (max-width: 660px){
  .setting-wrapper > *{
    flex-direction: column;
    width: unset;
  }
  .setting-wrapper > * > *{
    margin-left: 0!important;
  }
}
@media screen and (max-width: 400px) {
  app-select::ng-deep mz-select-container, app-select::ng-deep mz-select-container > div{
    width: 100%;
    display: block;
  }
  app-select::ng-deep .dropdown-content{
    width: unset !important;
    right: 0;
  }
  .setting-wrapper > *, mz-datepicker-container, #datepicker{
    width: 100%;
  }
  .setting-wrapper > * > * {
    margin-right: 0;
  }
  .setting-wrapper div.activity{
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .setting-wrapper::ng-deep .input-field.inline{
    width: 100%;
  }
  #datepicker {
    box-sizing: inherit;
  }
  p.margins{
    padding-top: 20px;
  }
}
