/* You can add global styles to this file, and also import other style files */
body{
  background: #F2F2F2;
}
.card{
  border-radius: 10px;
}
.usual.card{
  padding: 15px 30px;
}
mz-collapsible-item-header{
  flex-grow: 1;
}
.collapsible-header{
  position: relative;
  padding-right: 60px !important;
}
.collapsible-header:after{
  content: 'keyboard_arrow_down';
  font-family: 'Material Icons';
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  transition: transform .3s ease-in-out;
  transform: translateY(-50%);
  font-size: 20px;
  width: 20px;
}
.collapsible-header.active:after{
  transform: translateY(-50%) rotate(180deg);
}
.border-gradient {
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
  border-radius: 0 0 10px 10px;
  z-index: 0;
}

.border-gradient.bad {
  background: -webkit-gradient(linear, left top, right top, from(#EB5757), color-stop(0.01%, #F78E6E), to(#F34C62));
  background: -webkit-linear-gradient(left, #EB5757 0%, #F78E6E 0.01%, #F34C62 100%);
  background: -o-linear-gradient(left, #EB5757 0%, #F78E6E 0.01%, #F34C62 100%);
  background: linear-gradient(90deg, #EB5757 0%, #F78E6E 0.01%, #F34C62 100%);
}

.border-gradient.average {
  background: -webkit-gradient(linear, left top, right top, from(#f9ff4c), to(#f7cc54));
  background: -webkit-linear-gradient(left, #f9ff4c 0%, #f7cc54 100%);
  background: -o-linear-gradient(left, #f9ff4c 0%, #f7cc54 100%);
  background: linear-gradient(90deg, #f9ff4c 0%, #f7cc54 100%);
}

.border-gradient.good {
  background: -webkit-gradient(linear, left top, right top, from(#EB5757), color-stop(0.01%, #B7CF59), to(#6BCF69));
  background: -webkit-linear-gradient(left, #EB5757 0%, #B7CF59 0.01%, #6BCF69 100%);
  background: -o-linear-gradient(left, #EB5757 0%, #B7CF59 0.01%, #6BCF69 100%);
  background: linear-gradient(90deg, #EB5757 0%, #B7CF59 0.01%, #6BCF69 100%);
}
.checkbox-wrapper{
  display: inline-block;
}
.checkbox-wrapper:not(:first-of-type){
  margin-left: 50px;
}
label.forCheckbox:before, label.forCheckbox:after{
  display: none;
}
label.forCheckbox{
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  user-select: none !important;
  color: black !important;
  height: unset !important;
  padding: 0 !important;
  pointer-events: unset !important;
  line-height: unset !important;
  transform: unset !important;
  margin-bottom: 20px !important;
}
.forCheckbox > span{
  margin-left: 20px;
}
.custom-checkbox{
  display: flex;
  border-radius: 50%;
  color: white;
  width: 33px;
  height: 33px;
  align-items: center;
  justify-content: center;
  border: 1px solid #E0E0E0;
}
.custom-checkbox i{
  font-size: 23px !important;
}
input:checked + label > .custom-checkbox {
  background: #3449AC;
}
body{
  overflow-y: scroll;
}
#btn-sidenav {
  background-color: #4064c9;
  z-index: 2;
}
@media screen and (max-width: 400px) {
  .container{
    width: 100% !important;
  }
  .row{
    margin: 0 !important;
  }
}
