mz-modal-content{
  margin-top: 50px;
  display: block;
}
.activity{
  display: flex;
  justify-content: space-around;
}
button.close{
  padding: 10px 30px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #E0E0E0;
  line-height: 0;
  background-color: #c60b05 !important;
  box-shadow: none;
  text-transform: none;
  color: white;
}
.col{
  margin-bottom: 20px;
}
input[type='text']{
  display: inline-block;
  width: 200px !important;
  max-width: 100%;
  border: 1px solid #E0E0E0 !important;
  border-radius: 20px !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 10px 20px !important;
  height: unset !important;
}
input[type='text']:focus{
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .2) !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2) !important;
}
app-select{
  display: inline-block;
}
::ng-deep .autocomplete-content{
  border-radius: 20px;
  background: #F2F2F2 !important;
  position: relative;
  top: 5px;
}
