<mz-modal #editProjectModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    <h4>{{project && projectId ? 'Редактировать проект ' + project.name : 'Создание нового проекта'}}</h4>
  </mz-modal-header>
  <mz-modal-content>
    <div *ngIf="!pending">
      <div class="row center-align">
        <div class="col s12 m4">
          <input type="text" placeholder="Введите имя проекта" [(ngModel)]="project.name">
        </div>
        <div class="col s12 m4">
          <app-select [selectObj]="directionCopy"></app-select>
        </div>
        <div class="col s12 m4">
          <mz-input-container [inline]="true">
          <input mz-input type="text"
                 [(ngModel)]="query"
                 placeholder="Введите имя пользователя"
                 [autocomplete]="autocompleteUsers"
                 (input)="loadUsers()">
          </mz-input-container>
        </div>
      </div>
      <div *ngIf="projectId" class="row">
        <div class="col s12">
          <div class="activity">
            <button mz-button (click)="project.active=false" class="close">Закрыть проект</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="pending" class="center-align">
      <mz-spinner
        [color]="'blue'"
        [size]="'big'">
      </mz-spinner>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" (click)="saveProject()">Сохранить</button>
    <button mz-button [flat]="true" mz-modal-close>Отменить</button>
  </mz-modal-footer>
</mz-modal>
<button id="openModal" class="d-none" (click)="editProjectModal.open()"></button>
