.row {
  margin-bottom: 0;
}

h5 {
  font-weight: bold;
  margin: 0 0 10px;
}

p.small-inscription {
  color: #828282;
  font-size: 14px;
}
.project-wrapper{
  position: relative;
}
mz-collapsible::ng-deep .collapsible{
  position: relative;
  display: block;
  border-bottom: unset;
}
img.avatar{
  float: left;
  margin-right: 30px;
  height: 70px;
  width: auto;
  border-radius: 50%;
}
h5.comment{
  font-weight: normal;
  margin: 30px 0 20px;
}
p.name{
  font-weight: bold;
  margin-bottom: 10px;
}
mz-collapsible-item-header.margins{
  margin: 0 30px;
}
button, button:visited, button:focus{
  background-color: #3449AC;
  padding: 10px 35px;
  color: white;
  border-radius: 30px;
  height: unset;
  line-height: unset;
  margin-top: 30px;
  border: none;
}
button:hover{
  background-color: #242f60;
}
.col-margin .col{
  margin: 10px 0;
}
@media screen and (max-width: 500px){
  mz-collapsible-item-header.margins{
    margin: 0;
  }
  ::ng-deep .collapsible-body{
    padding: 1rem;
  }
}
