<div class="project-wrapper">
  <mz-collapsible
    [mode]="'expandable'"
    [onClose]=""
    [onOpen]=""
    [popout]="false">
    <mz-collapsible-item [active]="false">
      <mz-collapsible-item-header class="margins">
        <div class="row">
          <div class="col s12">
            <h5>{{report.project.name}}</h5>
          </div>
        </div>
        <div class="row col-margin">
          <div class="col l4">
            <p class="small-inscription">{{report.project.direction}}</p>
          </div>
          <div class="col l4">
            <p class="small-inscription">Ответственный: {{report.user.fullName}}</p>
          </div>
          <div class="col l4">
            <p class="small-inscription">Последний отчет: {{report.createDate}}</p>
          </div>
        </div>

      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <div class="row">
          <div class="col s12 l6">
            <mz-card
              class="main"
              [hoverable]="false">
              <mz-card-content>
                <p>Уровень мотивации команды</p>
                <div [class]="'border-gradient ' + report.teamMotivation.toString().toLowerCase()"></div>
              </mz-card-content>
            </mz-card>
          </div>
          <div class="col s12 l6">
            <mz-card
              class="main"
              [hoverable]="false">
              <mz-card-content>
                <p>Уровень удовлетворенности заказчика</p>
                <div [class]="'border-gradient ' + report.customerSatisfaction.toString().toLowerCase()"></div>
              </mz-card-content>
            </mz-card>
          </div>
          <div class="col s12 l6">
            <mz-card
              class="main"
              [hoverable]="false">
              <mz-card-content>
                <p>Уровень компетенций проектной команды</p>
                <div [class]="'border-gradient ' + report.teamCompetence.toString().toLowerCase()"></div>
              </mz-card-content>
            </mz-card>
          </div>
          <div class="col s12 l6">
            <mz-card
              class="main"
              [hoverable]="false">
              <mz-card-content>
                <p>Уровень технического успеха проекта</p>
                <div [class]="'border-gradient ' + report.successOfTheProject.toString().toLowerCase()"></div>
              </mz-card-content>
            </mz-card>
          </div>
        </div>
        <div *ngIf="report.comment" class="row">
          <div class="col s12">
            <h5 class="comment">Комментарий к отчету:</h5>
          </div>
          <div class="col s12">
            <img class="avatar hide-on-small-only" [src]="report.user.photo">
            <p class="name">{{report.user.fullName}}</p>
            <p>{{report.comment}}</p>
          </div>
          <div [class]="'col center-align ' + (editable ? 's6' : 's12')">
            <button [routerLink]="'/master/statistic/' + report.project.id">Статистика</button>
          </div>
          <div *ngIf="editable" class="col s6 center-align ">
            <button (click)="openProjectSetting.emit(report.project)">Настройки</button>
          </div>
        </div>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
  <div class="border-gradient bad"></div>
</div>
