<div class="container">
  <app-general-statistic *ngIf="!projectId"></app-general-statistic>
  <app-project-statistic *ngIf="projectId" [projectId]="projectId"></app-project-statistic>
  <app-last-report *ngIf="projectId" [reports]="reports" (srcollEvent)="loadMore()"
                   [isSpinner]="!totalPages || currentPage >= totalPages"></app-last-report>
</div>
