p {
  font-size: 16px;
  margin: 0;
}
p.small-title {
  font-size: 24px;
  margin-bottom: 20px;
}
p.dev-direction{
  font-size: 14px;
  color: #828282;
}
p.right-column{
  text-align: right;
}
div.right-column{
  padding-top: 20px;
}
mz-collapsible::ng-deep .collapsible-body{
  background-color: white;
}
mz-collapsible{
  display: block;
}
textarea{
  border-radius: 20px;
  height: 100px;
  box-shadow: 0 0 8px rgba(52, 73, 172, 0.65);
  padding: 20px;
  border: none;
  outline: none;
}
textarea:focus {
  box-shadow: 0 0 8px rgba(52, 73, 172, 0.85);
}
button, button:visited, button:focus{
  background-color: #3449AC;
  padding: 10px 35px;
  color: white;
  border-radius: 30px;
  height: unset;
  line-height: unset;
  margin-top: 30px;
  border: none;
}
button:hover{
  background-color: #242f60;
}
mz-collapsible::ng-deep .collapsible-header.active > mz-collapsible-item-header > .border-gradient{
  display: none !important;
}
span.red{
  color: red;
  background-color: transparent !important;
}
