<mz-collapsible
  [mode]="'expandable'"
  [onClose]=""
  [onOpen]=""
  [popout]="false">
  <mz-collapsible-item [active]="false">
    <mz-collapsible-item-header class="margins">
      <div class="row">
        <div class="col xl6 m12">
          <h5>{{project.name}}</h5>
        </div>
        <div class="col xl6 m12 right-column">
          <p class="right-column">Отчет за неделю {{currentWeek}}</p>
          <p class="right-column">Последний день отправки отчетов — <span class="red">{{lastDay}}</span></p>
        </div>
      </div>

    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <div class="col s12">
          <p class="small-title">Оцените каждый из пунктов:</p>
        </div>
        <app-choose-lvl [titles]="criteria"></app-choose-lvl>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="small-title">Комментарии к отчету:</p>
          <textarea [(ngModel)]="comment" placeholder="Добавить комментарий"></textarea>
        </div>
        <div class="col s12 right-align">
          <button (click)="sendData()">Добавить</button>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
