.canvas-wrapper{
  position: relative;
  margin-bottom: 30px;
}
.hide-labels{
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: #fff;
  z-index: 9;
  top: 0;
  left: 0;
}
mz-collapsible::ng-deep .collapsible-body{
  background-color: white;
}
.setting-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.setting-wrapper > *{
  margin-top: 20px;
}
.setting-wrapper app-select{
  margin-left: 20px;
}
.no-margins{
  margin: 0;
}
input:checked + label[for="motivationCheckbox"] > .custom-checkbox {
  background: linear-gradient(to right, #71d5f7, #497891);
}
input:checked + label[for="competitiveCheckbox"] > .custom-checkbox {
  background: linear-gradient(to right, #e2b0f3, #d4a5e5);
}
input:checked + label[for="happyCheckbox"] > .custom-checkbox {
  background: linear-gradient(to right, #3c68ff, #0504c6);
}
input:checked + label[for="progressCheckbox"] > .custom-checkbox {
  background: linear-gradient(to right, #ff685a, #c60b05);
}
#datepicker, #datepicker1{
  padding: 10px 25px;
  width: 100px;
  height: unset;
  line-height: 0;
  margin: 0  10px 0 !important;
  border-radius: 20px;
  border: 1px solid #E0E0E0;
  position: relative;
  cursor: pointer;
}
#datepicker::-webkit-input-placeholder, #datepicker1::-webkit-input-placeholder {color:black;}
#datepicker::-moz-placeholder, #datepicker1::-moz-placeholder                   {color:black;}/* Firefox 19+ */
#datepicker:-moz-placeholder, #datepicker1:-moz-placeholder                     {color:black;}/* Firefox 18- */
#datepicker:-ms-input-placeholder, #datepicker1:-ms-input-placeholder           {color:black;}
mz-datepicker-container {
  position: relative;
}
mz-datepicker-container:after {
  content: '▼';
  color: initial;
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  font-size: 10px;
  line-height: 10px;
}
mz-datepicker-container::ng-deep .input-field.inline{
  margin-top: 0;
}
canvas.small {
  display: none !important;
}
#insteadBlock{
  width:100%;
  padding-bottom:50%
}
.setting-wrapper > * > *, .setting-wrapper > *:nth-child(3) > * > *{
  margin-top: 15px;
  display: block;
}
.setting-wrapper > * {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
}
.setting-wrapper > *:nth-child(3) {
  width: 100%;
}
.setting-wrapper > .centred{
  line-height: 55px;
  margin-top: 15px;
}
@media screen and (max-width: 700px){
  canvas.large {
    display: none !important;
  }
  canvas.small {
    display: block !important;
  }
  .hide-labels{
    position: absolute;
    width: 100%;
    height: 48px;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
  }
  #insteadBlock{
    width:100%;
    padding-bottom:100%
  }
}
