<app-header-engineer [currentProject]="currentPorject" (curretnProjectChange)="changeProject($event)"></app-header-engineer>
<div class="container">
  <app-add-report (reportSended)="reportSended($event)" [project]="currentPorject" *ngIf="isSended === false"></app-add-report>
  <app-sended-report *ngIf="isSended === true" [report]="currentProjectReports[0]"></app-sended-report>
  <p *ngIf="isSended == undefined">Пока нету отчетов</p>
  <app-last-report *ngIf="currentProjectReports?.length > 0" [reports]="isSended ? currentProjectReports.slice(1) : currentProjectReports" (srcollEvent)="loadMore()"
                   [isSpinner]="!totalPages || currentPage >= totalPages"></app-last-report>
</div>
