.main-header {
  height: 74px;
  background: -webkit-linear-gradient(341.76deg, #4E84EC 3.72%, #3245A8 103.77%);
  background: -o-linear-gradient(341.76deg, #4E84EC 3.72%, #3245A8 103.77%);
  background: linear-gradient(108.24deg, #4E84EC 3.72%, #3245A8 103.77%);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.container, .row, .row > *{
  height: 74px;
}
.brand-logo {
  height: 74px;
  position: static;
  display: inline-block;
  float: left;
  margin-right: 20px;
  transform: none;
}

.brand-logo img {
  margin-top: 12px;
}

nav ul a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #E0E0E0;
}

nav ul a:hover {
  color: #fff;
  background-color: transparent;
}
.large-menu{
  display: inline-block;
}
.header-menu {
  margin-top: 6px;
  display: inline-block;
}

.header-menu li {
  margin-right: 30px;
  display: inline-block;
}

.chronos-avatar {
  width: 50px;
  height: 50px;
  border-radius: 35px;
}

.header-logout-menu {
  margin-top: 5px;
  float: right;
}

.header-logout-menu li {
  margin-left: 15px;
  margin-top: 8px;
  line-height: 50px;
  height: 50px;
}

.chronos-avatar {
  height: 46px;
  width: unset;
  margin-right: 40px;
}
#btn-sidenav{
  display: none;
}
@media screen and (max-width: 1560px) {
  nav .hide-on-small {
    display: none;
  }
  #btn-sidenav{
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .nav-name{
    display: none;
  }
}
mz-collapsible::ng-deep .collapsible{
  border: none;
  margin: 0;
}
mz-collapsible::ng-deep .collapsible-header{
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
mz-collapsible::ng-deep .collapsible-header:after{
  right: 10px;
}
mz-collapsible::ng-deep .collapsible-body{
  position: relative;
  padding: 0;
  z-index: 99;
  background: linear-gradient(to right, #3651ac, #3148a2);
  bottom: 7px;
}
mz-collapsible-item-body{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
mz-collapsible-item-body::ng-deep li{
  display: block;
  float: none;
}
app-select::ng-deep .select-wrapper{
  border: none !important;
  background-color: rgba(255, 255, 255, .1);
  margin-right: 20px;
}
app-select::ng-deep input.select-dropdown{
  width: 200px !important;
  max-width: 100% !important;
}
app-select::ng-deep .caret{
  color: white !important;
}
#btn-sidenav{
  position: fixed !important;
  right: 20px;
  bottom: 20px;
}
#btn-sidenav i{
  line-height: 55px;
  font-size: 34px;
}
mz-sidenav::ng-deep .user ul{
  float: unset;
  color: black;
}
mz-sidenav::ng-deep .img-wrapper{
  text-align: center;
  margin-top: 30px;
}
mz-sidenav::ng-deep .chronos-avatar{
  width: 70px;
  height: auto;
  margin: 0;
}
mz-sidenav::ng-deep .large-menu{
  color: black;
}
mz-sidenav::ng-deep app-select::ng-deep .select-wrapper{
  background: rgba(0, 0, 0, .04);
}
mz-sidenav::ng-deep app-select::ng-deep .caret{
  color: black !important;
}
mz-sidenav::ng-deep .collapsible-header{
  background:  rgba(0, 0, 0, .04);
}
mz-sidenav .header-menu{
  line-height: 50px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 10px;
}
mz-sidenav .name{
  margin: 0;
  color: black;
}
#btn-dropdown-demo{
  display: block;
  float: right;
  position: relative;
}
#btn-dropdown-demo:after{
  content: 'keyboard_arrow_down';
  font-family: 'Material Icons';
  display: block;
  position: absolute;
  right: 10px;
  top: 60%;
  transition: transform .3s ease-in-out;
  transform: translateY(-50%);
  font-size: 20px;
  width: 20px;
}
::ng-deep ul.dropdown-content {
  z-index: 99;
  background: linear-gradient(to right, #3f62c7, #3751b4);
}
mz-dropdown-item::ng-deep li:hover{
  background-color: #314b9e;
}
mz-dropdown-item::ng-deep li a{
  color: white;
}
a{
  cursor: pointer;
}
