<nav class="main-header">
  <div class="nav-wrapper">
    <div class="container">
      <div class="row">
        <a href="#" class="brand-logo">
          <img src="/assets/images/pflb.svg">
        </a>
        <div class="large-menu hide-on-small">
          <ul class="header-menu">
            <app-select *ngIf="projectsSelect" [selectObj]="projectsSelect" (selectChange)="changeProject($event)" ></app-select>
            <span>{{leftProjects}}</span>
          </ul>
        </div>
        <div class="right nav-name">
          <mz-dropdown
            [id]="'dropdown-demo'"
            [align]="'left'"
            [belowOrigin]="true"
            [constrainWidth]="true"
            [dropdownButtonId]="'btn-dropdown-demo'"
            [hover]="false"
            [inDuration]="300"
            [outDuration]="300"
            [stopPropagation]="true"
          >
            <mz-dropdown-item><li><a>Личный кабинет</a></li></mz-dropdown-item>
            <mz-dropdown-item><li><a (click)="closeNavBar(); bottomSheetModal.open();">Информация</a></li></mz-dropdown-item>
            <mz-dropdown-item><li><a (click)="exit()">Выход</a></li></mz-dropdown-item>
          </mz-dropdown>
          <a id="btn-dropdown-demo">
          <ul class="header-logout-menu">
            <li *ngIf="userService.user" class="name">{{userService.user.fullName}}</li>
            <li>
              <img class="chronos-avatar" [src]="userService.user.photo">
            </li>
          </ul>
          </a>
        </div>
      </div>
    </div>
  </div>
  <mz-sidenav
    [id]="'sidenav'"
    [collapseButtonId]="'btn-sidenav'"
    [draggable]="true">
    <mz-sidenav-header>
      <div class="user">
        <div class="img-wrapper">
          <img class="chronos-avatar" [src]="userService.user.photo">
          <p *ngIf="userService.user" class="name">{{userService.user.fullName}}</p>
        </div>
      </div>
    </mz-sidenav-header>
    <div class="large-menu">
      <ul class="header-menu center-align">
        <span>{{leftProjects}}</span>
        <app-select *ngIf="projectsSelect" [selectObj]="projectsSelect" (selectChange)="changeProject($event)"></app-select>
      </ul>
    </div>
    <mz-sidenav-link><a>Личный кабинет</a></mz-sidenav-link>
    <mz-sidenav-link><a (click)="bottomSheetModal.open()">Информация</a></mz-sidenav-link>
    <mz-sidenav-link><a (click)="exit()">Выход</a></mz-sidenav-link>
  </mz-sidenav>
  <button mz-button
          [float]="'true'"
          id="btn-sidenav"
          [large]="'true'">
    <i mz-icon
       [align]="'center'"
       [icon]="'menu'">
    </i>
  </button>
</nav>
<mz-modal #bottomSheetModal>
  <mz-modal-header>
    <h4>Project control</h4>
  </mz-modal-header>
  <mz-modal-content>
    v - 0.33
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Ок</button>
  </mz-modal-footer>
</mz-modal>
